body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8FAFC !important;
}
ul{
	margin: 0;padding: 0;
	li{
		list-style: none;
	}
}

@import 'pages/contacts/contacts.scss';

